<div class="p-grid p-flex-column">
    <div class="p-col">
        <div  class="box"> <button id="back2Top" (click)="backToTop()" pButton pRipple type="button" label="Back to top" class="p-button-raised p-button-secondary p-button-text"></button></div>
    </div>
    </div>
    <div class="p-col">
        <div>
            <div class="p-grid">
                <div class="p-col">
                    <div class="box">1</div>
                </div>
                <div class="p-col">
                    <div class="box">2</div>
                </div>
                <div class="p-col">
                    <div class="box">3</div>
                </div>
                <div class="p-col">
                    <div class="box">4</div>
                </div>
            </div>
        </div>
</div>

